body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}

header {
    text-align: center;
    margin-bottom: 50px;
}

main {
    max-width: 800px;
    margin: 0 auto;
}
#about h2 {
    text-align: center;
}
#about img {
position: relative;
left: 40%;
}

#projects h2 {
    text-align: center;
}

.project-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.project {
    width: 300px;
    margin: 20px;
    text-align: center;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
}

.project img {
    max-width: 100%;
}

footer {
    text-align: center;
}